<li 
  local-class="item" 
  data-test-portfolio-item
>
  {{#link-to "portfolio.show" portfolio data-test-portfolio-link=portfolio.id}}
    <header local-class="header">

      <div local-class="avatar">
        {{clientInitial}}
      </div>

      <div local-class="data">
        <span 
          local-class="client" 
          data-test-portfolio-client
        >
          {{portfolio.attributes.client}}
        </span>

        <h1 
          local-class="title" 
          data-test-portfolio-title
        >
          {{portfolio.attributes.title}}
        </h1>
      </div>
    </header>

    <img 
      src={{portfolio.attributes.imageUrl}} 
      alt={{portfolio.attributes.imageAlt}} 
      local-class="img"
      data-test-portfolio-image
    >

    <div local-class="content">

      <section local-class="tools">
        {{#each portfolio.attributes.tools as |tool|}}
          <h2 
            local-class="tool"
            data-test-portfolio-tools
          >
            {{tool}}
          </h2>
        {{/each}}
      </section>
      

      

      <h3 
        local-class="category" 
        data-test-portfolio-category
      >
        Type: {{portfolio.attributes.category}}
      </h3>

      <span 
        local-class="description" 
        data-test-portfolio-description
      >
        {{portfolio.attributes.description}}
      </span>
    </div>
  {{/link-to}}
</li>