<li 
  local-class="item" 
  data-test-portfolio-item
>
  {{#link-to 
    "portfolio.show" 
    portfolio 
    data-test-portfolio-link=portfolio.id
    local-class="link"
  }}
    <header local-class="header">

      <span local-class="avatar">
        {{clientInitial}}
      </span>

      <section local-class="headerinfo">
        <span 
          local-class="client" 
          data-test-portfolio-client
        >
          {{portfolio.attributes.client}}
        </span>

        <h1 
          local-class="title" 
          data-test-portfolio-title
        >
          {{portfolio.attributes.title}}
        </h1>
      </section>

      <span local-class="date">
        {{fa-icon "calendar"}}
        {{portfolio.attributes.date}}
      </span>
    </header>

    <section local-class="imgcontainer">
      <img 
        src={{portfolio.attributes.imageUrl}} 
        alt={{portfolio.attributes.imageAlt}} 
        local-class="img"
        data-test-portfolio-image
      >
    </section>

    <div local-class="content">
      <section local-class="tools">
        <h2 local-class="label">
          Tools:
        </h2>

        <ul local-class="list">
          {{#each portfolio.attributes.tools as |tool|}}
            <li 
              local-class="tool"
              data-test-portfolio-tools
            >
              {{fa-icon "tags"}}
              {{tool}}
            </li>
          {{/each}}
        </ul>
      </section>

      <section 
        local-class="description" 
        data-test-portfolio-description
      >
        <h2 local-class="label">
          Description:
        </h2>

        <span local-class="description">
          {{portfolio.attributes.description}}
        </span>
      </section>
      

      

      {{!-- <h3 
        local-class="category" 
        data-test-portfolio-category
      >
        Type: {{portfolio.attributes.category}}
      </h3> --}}

      
    </div>
  {{/link-to}}
</li>