<li 
  local-class="item" 
  data-test-portfolio-item
>
  <img 
    src={{portfolio.image-url}} 
    alt={{portfolio.image-alt}} 
    local-class="img"
    data-test-portfolio-image
  >

  <h1 
    local-class="title" 
    data-test-portfolio-title
  >
    {{#link-to "portfolio.show" portfolio data-test-portfolio-link=portfolio.id}}
      {{portfolio.title}}
    {{/link-to}}
  </h1>

  <span 
    local-class="client" 
    data-test-portfolio-client
  >
    {{portfolio.client}}
  </span>

  <h3 
    local-class="category" 
    data-test-portfolio-category
  >
    Type: {{portfolio-type portfolio.category}} - {{portfolio.category}}
  </h3>

  <span 
    local-class="description" 
    data-test-portfolio-description
  >
    {{portfolio.description}}
  </span>
</li>