<li data-test-portfolio-item>
  <img 
    src={{portfolio.image-url}} 
    alt={{portfolio.image-alt}} 
    data-test-portfolio-image
  >

  <h1 data-test-portfolio-title>
    {{#link-to "portfolio.show" portfolio data-test-portfolio-link=portfolio.id}}
      {{portfolio.title}}
    {{/link-to}}
  </h1>

  <span data-test-portfolio-client>{{portfolio.client}}</span>

  <h3 data-test-portfolio-category>
    Type: {{portfolio-type portfolio.category}} - {{portfolio.category}}
  </h3>

  <span data-test-portfolio-description>{{portfolio.description}}</span>
</li>