<ul>
  {{#each model as |portfolio|}}
    <li data-test-portfolio-item>
      <img src={{portfolio.imageURL}} alt={{portfolio.imageALT}} data-test-portfolio-image>
      <h1 data-test-portfolio-title>{{portfolio.title}}</h1>
      <h3 data-test-portfolio-category>{{portfolio.category}}</h3>
      <span data-test-portfolio-description>{{portfolio.description}}</span>
    </li>
  {{/each}}
</ul>